@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=VT323");

.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background: radial-gradient(
    circle,
    rgba(255, 252, 0, 1) 0%,
    rgba(240, 237, 23, 1) 100%
  );
  overflow-y: auto;
}

.one {
  flex: 1;
}

.two {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.splash-title {
  width: fit-content;
  margin: auto;
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black,
    0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black,
    0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black,
    -0.03em 0 0 black;
  line-height: 2;
  font-size: 64px;
  letter-spacing: 8px;
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 900;
}

.splash-title span {
  background: linear-gradient(to right, #eb3349, #f45c43) no-repeat right bottom;
  background-size: 0px 5px;
  transition: background-size 1200ms;
}

.splash-title span:hover {
  background-position-x: left;
  background-size: 100% 5px;
}

.three {
  position: relative;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.canvas {
  max-width: 300px !important;
  cursor: pointer;
}

.temp {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
}

.login {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
}

@property --m-0 {
  syntax: "<number>";
  initial-value: 1;
  inherits: false;
}

.bg {
  position: absolute;
  bottom: 10px;
  height: 500px;
  mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, var(--m-0)),
    rgba(0, 0, 0, var(--m-0))
  );
  transition: --m-0 0.8s;
}

.bg-disappear {
  --m-0: 0;
}

.bg-appear {
  --m-0: 1;
}

@media screen and (max-height: 414px) {
  .bg {
    bottom: 100px;
    height: 400px;
  }
}

@media screen and (max-height: 375px) {
  .bg {
    bottom: 75px;
    height: 400px;
  }
}

.glass-login {
  width: 100%;
  max-width: 430px;
  background: rgba(255, 255, 255, 0.7);
  height: 700px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 998;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 35px 0 0 35px;
}

.icon {
  width: 35px;
  padding-right: 15px;
  padding-top: 2px;
}

.title span {
  width: fit-content;
  overflow-wrap: break-word;
  color: black;
  font-family: "Concert One", sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.slogan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18px !important;
  margin-bottom: 0px !important;
}

.slogan span {
  padding-bottom: 1px;
  overflow-wrap: break-word;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.02rem;
  font-weight: bold;
  white-space: nowrap;
  margin: auto;
  margin-top: 5px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.login-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.email-container,
.password-container,
.signin-container,
.google-signin-container {
  display: flex;
  flex-direction: column;
  width: 72%;
}

.email-container {
  margin-bottom: 20px;
}

.email-form,
.password-form {
  border: 1px solid #e0e0e0 !important;
  border-radius: 10px !important;
  background: rgba(255, 255, 255, 0.7);
  border: none !important;
}

.email-input,
.password-input {
  padding-right: 18px !important;
}

.email-input input,
.password-input input {
  overflow-wrap: break-word !important;
  font-family: "Roboto", sans-serif !important;
  white-space: nowrap !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  padding: 12px 0 12px 20px !important;
  margin: 4.5px 0 4.5px 0 !important;
}

.other-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.switch {
  padding: 10px !important;
}

.MuiFormControlLabel-label {
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 13px !important;
  font-weight: 800 !important;
}

.login-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
}

.login-button {
  background: linear-gradient(90deg, #0061ff 0, #6f7bf7 62%) !important;
  color: #ffffff !important;
  font-size: 18px !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 2px !important;
  font-weight: 800 !important;
  text-transform: none !important;
  height: 54px !important;
  border-radius: 8px !important;
}

.login-button:hover {
  transform: scale(1.02);
}

.bottom-line-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.bottom-line {
  width: 70%;
  border-bottom: 1px solid #d6c4c4;
  margin: 36px 0 36px 0;
}

.continue {
  width: fit-content;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 8px 0 8px;
}

.google-signin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.google-sign-in-button {
  background-color: #272525 !important;
  height: 55px !important;
  border-radius: 10px !important;
}

.google-sign-in-button:hover {
  transform: scale(1.02);
}

.sign-up-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 26px;
}

.sign-up-container span {
  overflow-wrap: break-word;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 0.01rem;
}

.sign-up {
  color: rgba(36, 133, 255, 0.7) !important;
  cursor: pointer;
}

.arrow-container {
  position: absolute;
  bottom: 5%;
  left: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  cursor: pointer;
}

.scroll-arrow {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  animation: arrow-wave 1s infinite;
  animation-direction: alternate;
}

.scroll-arrow:nth-child(1) {
  animation-delay: 0.1s;
}

.scroll-arrow:nth-child(2) {
  animation-delay: 0.2s;
}

.scroll-arrow:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.glass-signup {
  width: 100%;
  max-width: 430px;
  background: rgba(255, 255, 255, 0.7);
  height: 700px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 998;
}

.slogan-2-container {
  display: flex;
  justify-content: flex-start;
}

.slogan-2 {
  padding-bottom: 1px;
  overflow-wrap: break-word;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.02rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 10px 0 0 100px;
}

.profile-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
}

.user-profile-image {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  margin-top: 15px;
}

.profile-image {
  --s: 110px;
  --b: 3px;
  --c: white;
  --f: 1;
  width: var(--s);
  aspect-ratio: 1;
  padding-top: calc(var(--s) / 5);
  cursor: pointer;
  border-radius: 0 0 999px 999px;
  --_g: 50% / calc(100% / var(--f)) 100% no-repeat content-box;
  --_o: calc((1 / var(--f) - 1) * var(--s) / 2 - var(--b));
  outline: var(--b) solid var(--c);
  outline-offset: var(--_o);
  background: radial-gradient(
      circle closest-side,
      blanchedalmond calc(99% - var(--b)),
      var(--c) calc(100% - var(--b)) 99%,
      #0000
    )
    var(--_g);
  -webkit-mask: linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) /
      calc(100% / var(--f) - 2 * var(--b) - 2px) 50%,
    radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
  transform: scale(var(--f));
  transition: 0.5s;
}

.profile-image:hover {
  --f: 1.2;
}

.signup-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.signup-email-container,
.signup-phone-container,
.signup-password-container {
  display: flex;
  flex-direction: column;
  width: 72%;
  margin-bottom: 18px;
}

.signup-password-container {
  margin-bottom: 14px !important;
}

.signup-email-form,
.signup-phone-form,
.signup-password-form {
  border: 1px solid #e0e0e0 !important;
  border-radius: 10px !important;
  background: rgba(255, 255, 255, 0.7);
  border: none !important;
}

.signup-email-input,
.signup-phone-input,
.signup-password-input {
  padding-right: 4px !important;
}

.signup-email-input label,
.signup-phone-input label,
.signup-password-input label {
  overflow-wrap: break-word !important;
  font-family: "Roboto", sans-serif !important;
  white-space: nowrap !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  color: rgba(128, 128, 128, 0.7) !important;
  margin-left: 5px;
}

.signup-email-input input,
.signup-phone-input input,
.signup-password-input input {
  overflow-wrap: break-word !important;
  font-family: "Roboto", sans-serif !important;
  white-space: nowrap !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  margin-left: 5px;
}

.signup-gender-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.gender {
  margin-right: 50px !important;
}

.signup-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.signup-button {
  background: linear-gradient(90deg, #0061ff 0, #6f7bf7 62%) !important;
  color: #ffffff !important;
  font-size: 17px !important;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 2px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  height: 52px !important;
  border-radius: 8px !important;
}

.signup-button:hover {
  transform: scale(1.02);
}

.back-login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
}

.back-login-container span {
  overflow-wrap: break-word;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 0.01rem;
}

.back-login {
  color: rgba(36, 133, 255, 0.7) !important;
  cursor: pointer;
}
