@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background: radial-gradient(
    circle,
    rgba(255, 252, 0, 1) 0%,
    rgba(240, 237, 23, 1) 100%
  );
  background-image: url("https://raw.githubusercontent.com/Hongda-OSU/PicGo-2.3.1/master/imgmarkus-spiske-5jeRBN4-ZLE-unsplash.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.one {
  flex: 1;
}

.two {
  display: flex;
  flex: 1;
}

.title {
  width: fit-content;
  margin: auto;
  color: #000000;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  line-height: 2;
  letter-spacing: 2px;
  font-size: 64px;
  font-family: "Inter", sans-serif;
}

.title span {
  background: linear-gradient(to right, #eb3349, #f45c43) no-repeat right bottom;
  background-size: 0px 5px;
  transition: background-size 1200ms;
}

.title span:hover {
  background-position-x: left;
  background-size: 100% 5px;
}

.three {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.canvas {
  width: 50% !important;
  cursor: pointer;
}

.click-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: #fff;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black,
    0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black,
    0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black,
    -0.03em 0 0 black;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  span {
    transform: scale(0.9);
    display: inline-block;
  }
  span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
  span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ce2d4a;
}
