.header-title {
    /* font-family: fantasy; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: 	#FFFFFF;
    margin: 0;
    margin-left: 10%;
    /* margin-top: 10%; */
  }
  